* {
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 56%);
    height: 100vh;
}

@font-face {
    font-family: Mario;
    src: url(/fonts/RetroMario-Regular.otf);
}

h1 {
    font-family: Mario; 
}

.capa0 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.game{
    height: 70vh;
}
.capa1 {
    position: absolute;
    left: 20%;
    top: 150px;
    z-index: 1;
    
}

.capa2 {
    position: absolute;
    z-index: 2;
}

.capa3 {
    position: absolute;
    left: 0vh;
    top: 9vh;
    z-index: 3;
    
}
.c1 {
    color: blue;
    text-shadow: 4px 4px  black;
    
}
.c2 {
    color: yellow;
    text-shadow: 4px 4px  black;
    
}
.c3 {
    color: red;
    text-shadow: 4px 4px  black;
    
}
.c4 {
    color: green;
    text-shadow: 4px 4px  black;
    
}
@keyframes mymove {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
  }